.signin {
  .sign-up {
    background: #fff;
    border: 1px solid rgb(236, 234, 234);
    border-radius: 0px;
    height: 470px;
    margin: 30px auto 0;
    width: 400px;

    small {
      box-sizing: border-box;
      color: black;
      height: 39px;
      margin: 10px 0 0 40px;
      padding: 10px;
      font-size: 13px;
      width: 320px;
      position: relative;
      right: 5px;
      top: 15px;
      font-weight: 10;
      opacity: 0.6;
    }
  }

  .addPadding {
    position: relative;
    top: 5px;
  }
}
