.productShowing {
  width: 15%;
  svg {
    width: 40%;
  }
}

.seperateLine {
  hr {
    width: 100%;
  }
  width: 100%;
}

.manageProducts {
  width: 70%;
  margin-left: 15%;
}

tbody {
  text-align: center;
}

.loadMore {
  text-align: center;
  button {
    margin: 15px;
    line-height: 20px;
  }
}
